/* these attributes are used for entire css as default values*/
* {
  margin: 0;
  padding: 0;
}
/* navbar attributes*/
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    gap: 10px;
  }

.jumbotron {
  background-size: cover;
  text-align: center;
  background-color: rgba(219, 214, 214, 0.8);
  }

  .jumbotron h1 {
    font-size: 2rem;
    color: black;
  }

  /*This is used to split the parent container into 2 equal containers*/
.container {
  width: 100%;
  height: 50%;
}

.container-my-8{
  margin: 0;
}

/*This is to set up the row attributes*/
  .row {
    gap: 10px;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
  }
  
  /*Design of columns for medium screens*/
  .col-md-3 {
  float: left;
  width: 100%;
  background-color: rgba(219, 214, 214, 0.8);
  margin: auto;
  }

/*Design of columns for medium screens*/
  .col-md-9  {
    float: left;
    width: 100%;
    background-color: rgba(219, 214, 214, 0.8);
    margin: auto;
  }

.col-sm-12 {
  margin:10px 0;
}
  
.container-search{
  float: left;
    width: 100%;
    background-color: rgba(219, 214, 214, 0.8);
    margin: auto;
}

  /*footer */
  .footer {
    background-color: rgba(219, 214, 214, 0.8);
    padding: 1rem;
    text-align: center;
    width: 100%;
  }

  .btn-primary {
background-color: rgb(29, 86, 192);
  }

.form-inline {
  width: auto;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
}

.form-control {
  flex: 1 1 auto;
}

.button {
  flex: 0 0 auto;
}

.display-4 {
  text-decoration:underline;
}


.h3 {
  size: 20px;
}

/* This media query is used for smaller screen*/
@media (max-width: 767px) {
  .row {
    width: 100%;
    float: none;
    display: block;
    margin: 20px 0;
  }
}

/*image for background*/
body {
  background: url('/assets/img/background\ PROJECT.jpg') no-repeat center/cover;
}
