/* these attributes are used for entire css as default values*/
* {
  margin: 0;
  padding: 0;
}

/*set body to occupy the device view port height and use flexbox*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*expend the main section vertically to take the full height*/
main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;

  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/application/background.jpg");
  background-position: center top; */
}

/* use cursize font family for the application name */
.sightseeing-brand {
  font-family: cursive, sans-serif;
  font-weight: bold;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.places-row {
  flex: 1;
  overflow: scroll;
}

/*use flex and apply 10px gap between buttons and input in the search bar*/
.header-search {
  gap: 10px;
  flex: 1 1 auto;
  justify-content: center !important;
}

/* expand the search input to its maximum*/
#place-search {
  flex: 1 1 auto;
  height: 100%;
}

/* show history places horizontally and make them scrollable */
#recent-search {
  display: flex;
  overflow: scroll;
  gap: 5px;
  padding: 0 0 5px 0;
}

/* left menu showing nearby places */
#nearby-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  max-height: 860px;
  overflow: scroll;
}

@media only screen and (max-width: 768px) {
  /* allow the nearby places to show horizontally in the smaller screen*/
  #nearby-section {
    flex-direction: row;
    gap: 10px;
  }

  .nearby-item {
    height: 280px;
    min-width: 16rem;
  }

  .nearby-item__img {
    height: 125px;
    object-fit: cover;
  }
}

/* set style of nearby item on the left menu */
.nearby-item {
  margin-bottom: 8px;
  width: 16rem;
}

/* set minimum width for place that is stored in the local storage */
.history-item {
  min-width: 20rem;
}

/* keep image aspect ratio for the place fetched from the local storage */
.history-item__img {
  height: 125px;
  object-fit: cover;
}

/* info and map sections occupies half of the height */
#info,
#map {
  flex: 0 1 50%;
}

/* diplay wikepidia and map in the column direction */
#info-and-map {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

footer {
  flex: 0 1 auto;
}
