/* these attributes are used for entire css as default values*/
* {
  margin: 0;
  padding: 0;
}
/* navbar attributes*/
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    gap: 10px;
  }

.jumbotron {
  background-size: cover;
  text-align: center;
  background-color: rgba(219, 214, 214, 0.8);
  }

  .jumbotron h1 {
    font-size: 2rem;
    color: black;
  }

  /*This is used to split the parent container into 2 equal containers*/
.container {
  width: 100%;
  height: 50%;
}


/*This is to set up the row attributes*/
  .row {
    gap: 10px;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
  
  /*Design of columns for medium screens*/
  .col-md-3 {
  float: left;
  width: 100%;
  background-color: rgba(219, 214, 214, 0.8);
  margin: auto;
  overflow: auto;
  }

/*Design of columns for medium screens*/
  .col-md-9  {
    overflow: auto;
    float: left;
    width: 100%;
    background-color: rgba(219, 214, 214, 0.8);
    margin: auto;
    overflow: auto;
  }

.col-sm-12 {
  margin:10px 0;
}

#document {
  width: 100%;
  height: 100%;
}

/*This is used to set the attributes for the search container */
.container-search{
    width: 100%;
    background-color: rgba(219, 214, 214, 0.8);
    margin: auto; 
}
/*This is used to diplay correctly within the container-search */
#recent-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  overflow-x: scroll;
}

  /*footer */
  .bg-light.py-3 {
    background-color: rgb(235, 198, 198, 0.8) !important;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
/*This is for the text inside footer container*/
  .container.text-center {
    text-decoration:underline;
    font-size: larger;
  }

  /* This is used to style the buttons*/
  .btn-primary {
background-color: rgb(29, 86, 192);
  }

/* This is for search input*/
.form-inline {
  width: auto;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
}

.form-control {
  flex: 1 1 auto;
}

.button {
  flex: 0 0 auto;
}

.display-4 {
  text-decoration: solid;
}


.h3 {
  size: 20px;
}

/* This media query is used for smaller screen*/
@media (max-width: 767px) {
  .row {
    width: 100%;
    float: none;
    display: block;
    margin: 20px 0;
    align-items: center;
  }
}

/*image for background*/
body {
  background: url('/assets/img/background\ PROJECT.jpg') no-repeat center/cover;
}

/* This is to set width and height to entire html and body*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* This is for nearby section*/
.nearby-section {
overflow: auto;
text-align: center;
}

.wiki {
  width: 100%;
  height: 100%;
  align-items: center;
}
